h1 {
    text-align: center;
    color: white;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

p {
    font-family: "Comic Sans MS", cursive, sans-serif;
}
body {
    background-color: rgb(109, 106, 104); /* gray */
}
